# Proyecto Final - Precios de SUVs

In [1]:
%load_ext autoreload
%autoreload 2

### Analisis dataset

-hay dos columnas precio y moneda, paso a precio en dolares
-sacar version
-dejaste muchas features creo
-en ves de one hotear marcas dividir en gama baja media y alta
-borraria color, muchas distintas y capaz poca relevancia
-eliminaria camara de retroceso 13000 nans

In [2]:
import pandas as pd
# Cargar el dataset
df_raw = pd.read_csv("dataset/raw/pf_suvs_i302_1s2025.csv")
df_raw = pd.DataFrame(df_raw)

In [3]:
from src.data_exploration import*

In [4]:

exploratory_analysis(df_raw, target_col="Precio")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18254 entries, 0 to 18253
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               18254 non-null  int64
 1   Marca                    18254 non-null  object
 2   Modelo                   18254 non-null  object
 3   Año                      18254 non-null  float64
 4   Versión                  18254 non-null  object
 5   Color                    17865 non-null  object
 6   Tipo de combustible      18254 non-null  object
 7   Puertas                  18254 non-null  float64
 8   Transmisión              18239 non-null  object
 9   Motor                    18216 non-null  object
 10  Tipo de carrocería       18254 non-null  object
 11  Con cámara de retroceso  4691 non-null   object
 12  Kilómetros               18254 non-null  object
 13  Título                   18254 non-null  object
 14  Precio                   18254 non-null  float64
 15  Moneda                   18254 non-null  object
 16  Descripción              18254 non-null  object
 17  Tipo de vendedor         18254 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 2.5+ MB
None

--- Resumen Estadístico ---
         Unnamed: 0            Año       Puertas        Precio
count  18254.000000   18254.000000  18254.000000  1.825400e+04
mean    9126.500000    2042.796209     18.167306  1.760162e+07
std     5269.620242    3217.260996    891.766121  1.720810e+07
min        0.000000    1981.000000      2.000000  1.110000e+02
25%     4563.250000    2016.000000      5.000000  3.190000e+04
50%     9126.500000    2019.000000      5.000000  1.720000e+07
75%    13689.750000    2024.000000      5.000000  2.995000e+07
max    18253.000000  436694.000000  60252.000000  3.495000e+08

--- Valores Faltantes ---
Unnamed: 0                     0
Marca                          0
Modelo                         0
Año                            0
Versión                        0
Color                        389
Tipo de combustible            0
Puertas                        0
Transmisión                   15
Motor                         38
Tipo de carrocería             0
Con cámara de retroceso    13563
Kilómetros                     0
Título                         0
Precio                         0
Moneda                         0
Descripción                    0
Tipo de vendedor               0
dtype: int64

--- Distribución de la Variable Objetivo ---
Precio
18000000.0    0.007231
21000000.0    0.007012
18500000.0    0.006738
30000000.0    0.006300
20000000.0    0.006081
                ...
36515614.0    0.000055
36499900.0    0.000055
25499999.0    0.000055
20662000.0    0.000055
31950000.0    0.000055
Name: proportion, Length: 2914, dtype: float64

In [5]:
df_raw["Moneda"].value_counts()

Moneda
$      11158
US$     7096
Name: count, dtype: int64

In [6]:
df_raw["Marca"].value_counts()

Marca
Ford              2161
Jeep              2050
Volkswagen        2037
Chevrolet         1750
Renault           1491
Toyota            1260
Peugeot           1250
Nissan            1059
Citroën            721
BMW                672
Honda              597
Hyundai            568
Audi               529
Fiat               366
Chery              344
Kia                290
Mercedes-Benz      282
Dodge              185
BAIC               165
Suzuki              76
Porsche             67
Land Rover          65
Mitsubishi          47
Volvo               38
SsangYong           30
D.S.                27
Alfa Romeo          25
JAC                 19
Jetour              14
GWM                  9
Haval                9
Isuzu                8
Lifan                7
Lexus                7
Subaru               5
Daihatsu             4
D·S                  4
Mini                 3
Hiunday              2
KAIYI                2
DS AUTOMOBILES       2
Jaguar               2
Range Rover          1
Rrenault             1
Jetur                1
hiunday              1
Vol                  1
Name: count, dtype: int64

In [7]:
df_raw["Transmisión"].value_counts()

Transmisión
Automática               12281
Manual                    5834
Automática secuencial      123
Semiautomática               1
Name: count, dtype: int64

In [8]:
df_raw["Tipo de vendedor"].value_counts()

Tipo de vendedor
concesionaria    8509
particular       5676
tienda           4069
Name: count, dtype: int64

In [9]:
df_raw["Tipo de carrocería"].value_counts()

Tipo de carrocería
SUV    18254
Name: count, dtype: int64

In [10]:
df_raw["Tipo de combustible"].value_counts()

Tipo de combustible
Nafta            16067
Diésel            1328
Nafta/GNC          451
Híbrido/Nafta      269
Híbrido            105
GNC                 12
Eléctrico           12
Mild Hybrid         10
Name: count, dtype: int64

In [11]:
from src.data_cleaner import DataProcessor

In [12]:
dp = DataProcessor(df_raw)
df = pd.DataFrame(dp.preprocess())

df.to_csv("dataset/processed/marcas_OH.csv", index=False)

Marca: 47 categorías
Modelo: 137 categorías

In [13]:
exploratory_analysis(df,target_col="Precio_usd")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17781 entries, 0 to 17780
Columns: 194 entries, Puertas to combustible_Otros
dtypes: bool(3), float64(189), int64(2)
memory usage: 26.0 MB
None

--- Resumen Estadístico ---
            Puertas    Kilómetros     Precio_usd     Antigüedad    Marca_Ford  \
count  17781.000000  1.778100e+04   17781.000000   17781.000000  17781.000000
mean      18.522243  7.518157e+05   27390.631641     -18.399753      0.118104
std      903.547364  1.064227e+06   19624.074249    3259.772123      0.322740
min        2.000000  0.000000e+00     100.399912 -434669.000000      0.000000
25%        5.000000  0.000000e+00   16021.716754       1.000000      0.000000
50%        5.000000  6.800000e+05   23454.769418       6.000000      0.000000
75%        5.000000  1.160000e+06   32229.216374       9.000000      0.000000
max    60252.000000  9.999999e+07  610000.000000      39.000000      1.000000

       Marca_Volkswagen    Marca_Jeep    Marca_BAIC     Marca_Kia  \
count      17781.000000  17781.000000  17781.000000  17781.000000
mean           0.111748      0.113211      0.009111      0.016141
std            0.315066      0.316859      0.095018      0.126021
min            0.000000      0.000000      0.000000      0.000000
25%            0.000000      0.000000      0.000000      0.000000
50%            0.000000      0.000000      0.000000      0.000000
75%            0.000000      0.000000      0.000000      0.000000
max            1.000000      1.000000      1.000000      1.000000

       Marca_Hyundai  ...   Modelo_Kona  Modelo_Actyon  Modelo_Clase GL  \
count   17781.000000  ...  17781.000000   17781.000000     17781.000000
mean        0.031213  ...      0.000225       0.000394         0.000112
std         0.173898  ...      0.014997       0.019838         0.010605
min         0.000000  ...      0.000000       0.000000         0.000000
25%         0.000000  ...      0.000000       0.000000         0.000000
50%         0.000000  ...      0.000000       0.000000         0.000000
75%         0.000000  ...      0.000000       0.000000         0.000000
max         1.000000  ...      1.000000       1.000000         1.000000

       Modelo_Grand Santa Fé    Modelo_DS3  Modelo_Mohave  Modelo_F-PACE  \
count           17781.000000  17781.000000   17781.000000   17781.000000
mean                0.000169      0.000112       0.000112       0.000112
std                 0.012988      0.010605       0.010605       0.010605
min                 0.000000      0.000000       0.000000       0.000000
25%                 0.000000      0.000000       0.000000       0.000000
50%                 0.000000      0.000000       0.000000       0.000000
75%                 0.000000      0.000000       0.000000       0.000000
max                 1.000000      1.000000       1.000000       1.000000

         Cilindrada  Transmisión_Manual  vendedor_particular
count  17781.000000        17781.000000         17781.000000
mean       1.817519            0.320792             0.317755
std        0.625942            0.466794             0.465617
min        1.000000            0.000000             0.000000
25%        1.500000            0.000000             0.000000
50%        1.600000            0.000000             0.000000
75%        2.000000            1.000000             1.000000
max        6.400000            1.000000             1.000000

[8 rows x 191 columns]

--- Valores Faltantes ---
Puertas                0
Kilómetros             0
Precio_usd             0
Antigüedad             0
Marca_Ford             0
                      ..
Transmisión_Manual     0
vendedor_particular    0
combustible_Diésel     0
combustible_Nafta      0
combustible_Otros      0
Length: 194, dtype: int64

--- Distribución de la Variable Objetivo ---
Precio_usd
15186.541350    0.007255
17717.631575    0.007086
15608.389720    0.006805
25310.902249    0.006299
16873.934833    0.006186
                  ...
20417.545517    0.000056
9591.718273     0.000056
15598.265359    0.000056
24391.272801    0.000056
26956.110895    0.000056
Name: proportion, Length: 2815, dtype: float64

In [17]:
# Distintos datasets
from sklearn.model_selection import train_test_split
x_train, x_test, y_val, y_val = train_test_split(df.drop(columns=["Precio_usd"]), df["Precio_usd"], test_size=0.2, random_state=42)

In [18]:
exploratory_analysis(df, target_col="Precio_usd")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17781 entries, 0 to 17780
Columns: 194 entries, Puertas to combustible_Otros
dtypes: bool(3), float64(189), int64(2)
memory usage: 26.0 MB
None

--- Resumen Estadístico ---
            Puertas    Kilómetros     Precio_usd     Antigüedad    Marca_Ford  \
count  17781.000000  1.778100e+04   17781.000000   17781.000000  17781.000000
mean      18.522243  7.518157e+05   27390.631641     -18.399753      0.118104
std      903.547364  1.064227e+06   19624.074249    3259.772123      0.322740
min        2.000000  0.000000e+00     100.399912 -434669.000000      0.000000
25%        5.000000  0.000000e+00   16021.716754       1.000000      0.000000
50%        5.000000  6.800000e+05   23454.769418       6.000000      0.000000
75%        5.000000  1.160000e+06   32229.216374       9.000000      0.000000
max    60252.000000  9.999999e+07  610000.000000      39.000000      1.000000

       Marca_Volkswagen    Marca_Jeep    Marca_BAIC     Marca_Kia  \
count      17781.000000  17781.000000  17781.000000  17781.000000
mean           0.111748      0.113211      0.009111      0.016141
std            0.315066      0.316859      0.095018      0.126021
min            0.000000      0.000000      0.000000      0.000000
25%            0.000000      0.000000      0.000000      0.000000
50%            0.000000      0.000000      0.000000      0.000000
75%            0.000000      0.000000      0.000000      0.000000
max            1.000000      1.000000      1.000000      1.000000

       Marca_Hyundai  ...   Modelo_Kona  Modelo_Actyon  Modelo_Clase GL  \
count   17781.000000  ...  17781.000000   17781.000000     17781.000000
mean        0.031213  ...      0.000225       0.000394         0.000112
std         0.173898  ...      0.014997       0.019838         0.010605
min         0.000000  ...      0.000000       0.000000         0.000000
25%         0.000000  ...      0.000000       0.000000         0.000000
50%         0.000000  ...      0.000000       0.000000         0.000000
75%         0.000000  ...      0.000000       0.000000         0.000000
max         1.000000  ...      1.000000       1.000000         1.000000

       Modelo_Grand Santa Fé    Modelo_DS3  Modelo_Mohave  Modelo_F-PACE  \
count           17781.000000  17781.000000   17781.000000   17781.000000
mean                0.000169      0.000112       0.000112       0.000112
std                 0.012988      0.010605       0.010605       0.010605
min                 0.000000      0.000000       0.000000       0.000000
25%                 0.000000      0.000000       0.000000       0.000000
50%                 0.000000      0.000000       0.000000       0.000000
75%                 0.000000      0.000000       0.000000       0.000000
max                 1.000000      1.000000       1.000000       1.000000

         Cilindrada  Transmisión_Manual  vendedor_particular
count  17781.000000        17781.000000         17781.000000
mean       1.817519            0.320792             0.317755
std        0.625942            0.466794             0.465617
min        1.000000            0.000000             0.000000
25%        1.500000            0.000000             0.000000
50%        1.600000            0.000000             0.000000
75%        2.000000            1.000000             1.000000
max        6.400000            1.000000             1.000000

[8 rows x 191 columns]

--- Valores Faltantes ---
Puertas                0
Kilómetros             0
Precio_usd             0
Antigüedad             0
Marca_Ford             0
                      ..
Transmisión_Manual     0
vendedor_particular    0
combustible_Diésel     0
combustible_Nafta      0
combustible_Otros      0
Length: 194, dtype: int64

--- Distribución de la Variable Objetivo ---
Precio_usd
15186.541350    0.007255
17717.631575    0.007086
15608.389720    0.006805
25310.902249    0.006299
16873.934833    0.006186
                  ...
20417.545517    0.000056
9591.718273     0.000056
15598.265359    0.000056
24391.272801    0.000056
26956.110895    0.000056
Name: proportion, Length: 2815, dtype: float64

In [ ]:



df_train = df.sample(frac=0.8, random_state=42)
y = df["Precio_usd"].values
X = df.drop(columns=["Precio_usd"]).values
df_val = df.drop(df_train.index)
y_val = df_val["Precio_usd"].values
X_val = df_val.drop(columns=["Precio_usd"]).values

dp_train = DataProcessor(df_train)
X = dp_train.normalize(X)
X_val = dp_train.normalize_new_data(X_val)

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
print(X.shape, y.shape)
print(X_val.shape, y_val.shape)

(17781, 9) (17781,)
(3556, 9) (3556,)

In [ ]:
from models.linear_regression import LinearReg

In [ ]:
model = LinearReg(X, y,0, 0.001)
model.train_gd(0.01, 1000, "l2")
y_pred = model.predict(X_val)
rmse = model.rmse(y_val, y_pred)
print(f"RMSE: {rmse:.2f}")

RMSE: 15702.69

In [ ]:
model.train_pinv("l2")
y_pred_pinv = model.predict(X_val)
rmse_pinv = model.rmse(y_val, y_pred_pinv)
print(f"RMSE con Pseudo-inversa: {rmse_pinv:.2f}")

RMSE con Pseudo-inversa: 15701.61

In [ ]:
model.train_pinv()
y_pred_pinv = model.predict(X_val)
rmse_pinv = model.rmse(y_val, y_pred_pinv)
print(f"RMSE con Pseudo-inversa: {rmse_pinv:.2f}")

RMSE con Pseudo-inversa: 15703.17

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(y_val, y_pred_test, alpha=0.3)
plt.xlabel("Precio real")
plt.ylabel("Precio predicho")
plt.title("Predicción vs Realidad")
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], "r--")
plt.show()